# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/

# Visual Studio Code
.vscode/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# Environment / secrets
appsettings.Development.json
appsettings.json